.form-section{
    border: 1px solid #eee;
    padding: 0px !important;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    left: 10px;
}
.form-section .form-title{
    display: flex;
    justify-content: center;
    background-color: #1976d2;
    padding: 0 20px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-section .form-content{
    padding: 10px;
}
.form-section Input{
    margin-top: 15px;
    font-size: 17px;
}
.form-section Button{
    margin-top: 15px;
}